<h2>All Heroines</h2>

  <% @heroines.each do |heroine| %>
    <div>
      <%= link_to(heroine.super_name, heroine_path(heroine.id)) %>
    </div>
  <% end %><br>
<%= link_to('Create Heroine', new_heroine_path) %>
