<form method="post" action= "/heroines">
<p>Name</p>
<input name= "name" type="text box">
<p>Super Name<p>
<input name="super_name" type="text box"><br>
<p>Super ID<p>
<input name="power_id" type="text box">
<input type="submit">
